<body>
    <div class="dropdown">
        <button class="dropbtn">Filter</button>
        <div class="dropdown-content">
            <label>
                <input type="checkbox" name="filter" value="creation_date" onchange="updateServer(this)">
                Creation date
            </label>
            <label>
                <input type="checkbox" name="filter" value="first_album_year" onchange="updateServer(this)">
                First Album Year
            </label>
            <label>
                <input type="checkbox" name="filter" value="members" onchange="updateServer(this)">
                Number of members
            </label>
            <label>
                <input type="checkbox" name="filter" value="location" onchange="updateServer(this)">
                Concert location
            </label>
        </div>
    </div>
</body>
<script>




function updateServer(checkbox) {
    const option = checkbox.checked ? checkbox.value : null;
    fetch('http://localhost:8080/option', {
    method: 'POST',
    body: JSON.stringify({ option })
})

}






    
</script>
