body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    text-align: center;
    background-color: #e8b5b5;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: aliceblue;
}

.card {
    border: 2px solid #000;
    background-color: #eee;
    text-align: center;
    width: 200px;
    height: 300px;
    margin-top: 35px;
}

.content {
    text-align: center;
}